<!DOCTYPE html>
<html>
  <head>
    <title>Bebefit Prelaunch Campaign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll custom_position" style="margin-left: -330px; margin-top: -20px;">
          <a id= "logo" class="navbar-brand page-scroll" style="    position:absolute;top:10px; left:10px;" href="#page-top"><%= image_tag("logo1.png") %></a>
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>

    <%= yield %>
  </body>
</html>
